/* Text Styles */

body { 
   font-family: 'Poppins';
    background-color: #F0B35C;
    color: #7956A3;
    font-size: 24pt;
}

hr {
    color: rgb(84, 143, 253);
}

p {
    font-family: 'Poppins';
}

h1 {
    font-family: 'Courgette';
    font-size:45pt;
}
h3 {
    font-size:34pt;
}
h2 {
    font-family: 'Courgette';
    text-align: center;
    text-shadow: 3px 3px 3px #000;
}

header {
    text-align: center;
}

/* Hero Section */


#hero, footer {
    background-color: #5ec4ff;
    border: 3px solid #f1f1f1;
    text-align: center;
    padding: 15px;
}

#hero img {
    width: 450px;
}

/* Bio Section */


#bio {
    color:antiquewhite;
}

/* Hobbies Section */


#hobbies ul li {
    color:purple;
}

/* Photos Section */

#gallery {
    border: 3mm ridge rgb(84, 143, 253);
    text-align:center;
    padding: 15px;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}

/* lit */


#lit {
    border: 10px double rgb(84, 152, 255);
    margin-bottom:2rem;
}   

#lit div {
    font-family: 'Poppins';
    padding:3rem;
    max-width:44rem;
    margin: 0 auto;
}

/* Drop Caps */

#lit div p:nth-child(3n+1):first-letter {
    font-family: 'Courgette';
    background-image:linear-gradient(#000);
    float:left;
    font-size: 4em;
    padding: .35em;
    margin-right: .25em;
    line-height: .65em;
    border: 2mm ridge rgb(84, 143, 253);
    text-shadow: 3px 3px 3px #000;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;

}