/* Text Styles */

body { 
   font-family: 'Poppins';
    background-color: #969696;
    color: #5f2f99;
    font-size: 24pt;
}

hr {
    color: rgb(84, 143, 253);
}

p {
    font-family: 'Poppins';
}

h1 {
    font-family: 'Courgette';
    font-size:45pt;
}
h3 {
    font-size:34pt;
}
h2 {
    color: #5d289e;
    font-family: 'Courgette';
    text-align: center;
    text-shadow: 3px 3px 3px #000;
}

header {
    text-align: center;
}

/* Hero Section */




#hero img {
    width: 450px;
}

/* Bio Section */


#bio {
    color:antiquewhite;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Hobbies Section */


#hobbies {
    color:rgb(255, 255, 255);
    display: table; 
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;   
}

/* Photos Section */

#gallery {
    border: 3mm ridge rgb(84, 143, 253);
    text-align:center;
    
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}

/* lit */


#lit {
    border: 10px double rgb(84, 152, 255);
    margin-bottom:2rem;
}   

#lit div {
    font-family: 'Poppins';
    font-size: 32pt;
    margin-left: auto;
    margin-right: auto;
    
}

/* Drop Caps */

#lit div p:nth-child(3n+1):first-letter {
    font-family: 'Courgette';
    background-image:linear-gradient(rgb(109, 94, 94));
    float:left;
    font-size: 4em;
    padding: .35em;
    margin-right: .25em;
    line-height: .65em;
    border: 2mm ridge rgb(84, 143, 253);
    text-shadow: 3px 3px 3px #000;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;

}

#video {
    text-align: center;
    margin-bottom: 2em;
}



/* Media States */

@media screen and (min-width: 279px) {
    
    #hero, footer {
        background-color: #3d1e1e;
        color: antiquewhite;
        border: 3px solid #f1f1f1;
        text-align: center;
            
    }

    #hero h3, footer {
        font-size: 15pt;

    }

    #bio div {
        font-size: 10pt;
    }
    #bio h4 {
        font-size: 15pt;
    }
    #hobbies {
        font-size: 15pt;
    }

    #video {
        text-align: center;
        margin-bottom: 2em;
    }
    
    #hero img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    #lit div {
        font-size: 15pt;
        margin-left: 2em;
        margin-right: 2em;
        max-width:100%;
        columns: 25rem;
    }
    figcaption {
        font-size: 12pt;
    }

    #funnyVideo {
        width: 350px;
        height: 250px;
    }

    #litcenter p {
        font-size: 15pt;
    }


}

@media screen and (min-width: 410px) {
    
    #hero, footer {
        background-color: #3d1e1e;
        color: antiquewhite;
        border: 3px solid #f1f1f1;
        text-align: center;    
    }

    #hero h3, footer {
        font-size: 15pt;
    }

    #video {
        text-align: center;
        margin-bottom: 2em;
    }
    
    #hero img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        
    }

    #bio div {
        font-size: 15pt;
    }
    #bio h4 {
        font-size: 20pt;
    }

    #hobbies {
        font-size: 18pt;
    }

    #lit div {
        font-size: 15pt;
        margin-left: 2em;
        margin-right: 2em;
        max-width:100%;
        columns: 25rem;
    }
    figcaption {
        font-size: 15pt;
    }
    #funnyVideo {
        width: 427px;
        height: 240px;
    }
    #litcenter p {
        font-size: 15pt;
    }


}

@media screen and (min-width: 750px) {
    
    #hero, footer {
        background-color: #3d1e1e;
        color: antiquewhite;
        border: 3px solid #f1f1f1;
        text-align: center;    
    }

    #hero h3, footer {
        font-size: 35pt;
    }

    #video {
        text-align: center;
        margin-bottom: 2em;
    }
    
    #hero img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }

    #bio div {
        font-size: 20pt;
    }
    #bio h4 {
        font-size: 25pt;
    }

    #hobbies {
        font-size: 25pt;
    }

    #lit div {
        font-size: 15pt;
        margin-left: 2em;
        margin-right: 2em;
        max-width:100%;
        columns: 25rem;
    }
    figcaption {
        font-size: 15pt;
    }
    #funnyVideo {
        width: 600px;
        height: 400px;
    }
    #litcenter p {
        font-size: 15pt;
    }

}

@media screen and (min-width: 850px) {
 


    #gallery {
        display: flex;
        font-size: 15pt;
    }

    #gallery img {
        margin: auto;
        align-items: center;
    }
    #litcenter p {
        font-size: 18pt;
    }
    #funnyVideo {
        width: 854px;
        height: 600px;
    }
    /*  
    figure { 
        display: grid;
        grid-row: auto;
        grid-template-columns: 2fr 1fr;

    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    */
}