/*

#gallery:hover{
 filter: blur(4px);
  }

.growOne:hover {
filter: blur(0px);

}

*/
@media screen and (min-width: 850px) {

.profile {
    display: flex;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
    margin: 0px 10px;
    text-align: center;
    transition: 500ms;
}

.profile:hover .card{
    filter: blur(10px);
}

.profile .card:hover {
    filter: blur(0px);
}
}
